extends baseEmail

block content
    p phew !! Hello #{url.name}, how are you doing? 
    p Reminder! It's a time for your 2nd Dose...get ready!
    a check vaccines
 
    p If you need any help with vaccinate, please don't hesitate to contact us!
    p - Vishnu Prakash, Founder